body {
    --almond: #F1DAC4;
    --blue-gray: #A69CAC;
    --purple-navy: #474973;
    --oxford-blue: #161B33;
    --blue-black: #0D0C1D;
    --building-red: #d15454;
    --building-yellow: #F2C53D;
    margin: 0;
    background-color: var(--blue-gray)
}


.nav-wrapper {
    display:grid;
    grid-template-columns: 2fr 20% 2fr;
    color: var(--blue-black);
    padding: 2%;
    margin: 0px;

}

/* Referenced from W3Schools */

.dropbtn {
    background-color: var(--building-red);
    color: var(--building-yellow);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .dropbtn:focus {
    background-color: var(--oxford-blue);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--building-red);
    min-width: 160px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
  }
  

  .dropdown-content a {
    color: var(--building-yellow);
    font-family: 'Rubik', sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: var(--blue-gray);}
  
  
  .show {display:block;}

  /* No longer W3Schools */

  .contact-nav {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    font-family: 'inter', sans-serif;
    color: #e8edec;
    justify-self: end;
   
  }


  .main-title {
    width: 300px;

  }

  .address {
    font-weight: bold;
  }

  footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 5%;
    background-color: var(--oxford-blue);
    margin: 0px;

  }

  footer > div > a {
    color: var(--almond);
    text-decoration: none;
    font-family: 'inter', sans-serif;
  }

  footer > div > a:hover {
    color: var(--blue-gray);
  }

  .map {
    margin: -411px 30%;
    padding: 30px;
  }

  .map-section {
    display: flex;
    padding: 20%;
    background-color: var(--blue-gray);
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10%;
    margin: 10px;

  }

  .boat{
    background-color: var(--oxford-blue);
    margin: 2% 50px;
    font-family: 'inter', sans-serif;
    color: var(--blue-gray);
    font-size: 25px;
    padding: 30px;
    border-radius: 4px;
  }

  .boat-img {
    height: 200px;
  }







 