body {
    --almond: #F1DAC4;
    --blue-gray: #A69CAC;
    --purple-navy: #474973;
    --oxford-blue: #161B33;
    --blue-black: #0D0C1D;
    --building-red: #d15454;
    --building-yellow: #F2C53D;
    margin: 0;
}


.nav-wrapper {
    display:grid;
    grid-template-columns: 2fr 20% 2fr;
    color: var(--blue-black);
    padding: 2%;
    margin: 0px;

}

/* Referenced from W3Schools */

.dropbtn {
    background-color: var(--blue-gray);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:focus {
    background-color: var(--oxford-blue);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--building-red);
    min-width: 160px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: var(--building-yellow);
    font-family: 'Rubik', sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: var(--blue-gray);}
  
  
  .show {display:block;}

  /* No longer W3Schools */

  .contact-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    font-family: 'inter', sans-serif;
    color: #e8edec;
    justify-self: end;
   
  }


  .main-title {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #e8edec;
    border: 5px solid #e8edec;
    padding: 2px;
    text-align: center;

  }

  .address {
    font-weight: bold;
  }

  footer {
    padding: 5%;
    background-color: var(--oxford-blue);
  }

  footer > a {
    color: var(--almond);
    text-decoration: none;
    font-family: 'inter', sans-serif;
  }

  footer > a:hover {
    color: var(--blue-gray);
  }
